@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --pink: #FF2A70;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Ubuntu", Helvetica, sans-serif;
  display: grid;
  grid-template-columns: [full-start] 1fr [content-start] minmax(0, 600px) [middle] minmax(0, 600px) [content-end] 1fr [full-end];
  grid-template-rows: auto 1fr;
}

.col-full {
  grid-column: full-start / full-end;
}

.col-content {
  grid-column: content-start / content-end;
}