@import "tailwindcss";




:root {
  --foreground: #ffffff;
  --background: #171717;
  --pink: #ff2a70;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: url("/assets/bg/pattern_bg.jpg");
  color: var(--foreground);
  font-family: "Ubuntu", Helvetica, sans-serif;
  display: grid;
  grid-template-columns: [full-start] 1fr [content-start] minmax(0, 600px) [middle] minmax(0, 600px) [content-end] 1fr [full-end];
  grid-template-rows: auto 1fr;
}

.col-full {
  grid-column: full-start / full-end;
}

.col-content {
  grid-column: content-start / content-end;
}






/* test */

.player-dark {

  /* important gør at vi overrider playerens defalut styling */
  background: black !important;
  color: white !important;

  /* ikoner skal være hvide */
  svg,
  .rhap_time,
  .rhap_header {
    fill: white !important;
    color: white !important;
  }

  /* afspiller-bar-linje + download-progress er den del der er "buffet"/loaded + volumen bar*/
  .rhap_progress-bar,
  .rhap_download-progress,
  .rhap_volume-bar {
    background: var(--pink) !important;
  }

  /* den del der er afspillet + knopper */
  .rhap_progress-filled,
  .rhap_volume-indicator,
  .rhap_progress-indicator {
    background: white !important;
  }





}

/* main > section {
  margin: 4rem 0 4rem 0;
}

.banner {
  margin: 0;
}

main {
  margin-top: 0;
} */